<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <%- include('../partials/facility'); %>

            <%- include('../partials/signup'); %>

        </div><!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <p><%= locals.tagline %></p>
            <ul>
                <% if (locals.cars) { %>

                    <% locals.cars.forEach(function(car) { %>
                        <li>
                            <strong><%= car.make %></strong>
                            <%= car.model %>, year <%= car.year %>
                        </li>
                    <% }); %>
                   
                <% } %>
                
            </ul>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Single car That I loaded:</h3>
            <% if(locals.single){ %>
                <h2><%= single.model%></h2>
              <% } else{ %>  
                <h1>No Single Car Loaded</h1>
             <% } %>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>